body, html {
    margin: 0 0;
    padding: 5em;
    width: 100%;
    height: 100%;
    font-family: Verdana, Tahoma, sans-serif;
    background: #9eebcd;
    overflow: auto;
}

.fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

#morph {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none; /*allows to click the button*/
    z-index: 1;
}

section {
    position: absolute;
    h1{
        font-size: 4em;
        margin: 0;
        padding: 0;
    }
    
    p {
        font-size: 1.5em;
        margin: 10px 0;
    }
    
    button {
        background: #00354e;
        margin-top: 20px;
        border: none;
        color: rgb(255, 255, 255);
        padding: 1em;
        border-radius: 5px;
        width: 40%;
        cursor: pointer;
    
    }
}

.pointer {
    pointer-events: auto !important;
}



